/* INITIALISATION */
body {
    margin: 0;
    padding: 0;
    font-size: 0;
    background: #FAFAFA;
    min-height: 2100px;
}

/* GESTION DU HEADER */
/* Flèche retour */
#arrow {
    position: relative;
    top: -15px;
    left: 25px;
    width: 100px;
}

/* Menu, ombre */
.trigger-menu-wrapper {
    height: 125px;
    line-height: 150px;
    box-shadow: 1px 1px 10px 5px rgba(0, 0,0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: var(--white);
}

/* GESTION DES IMAGES */
/* Positionnement des images au centre */
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* logo SPEAT */
#lS {
    position: relative;
    top: -120px;
    width: 275px;
}

/* logo snack */
#lR {
    position: relative;
    top: 150px;
    width: 350px;
}

/* logo commande */
#lC {
    position: relative;
    top: 180px;
    width: 75px;
}

/* GESTION DES COMMANDES */
/* Gestion de "MA COMMANDE" */
#com {
    color: #1975BA;
    font-size: 69px;
    font-family: "HelveticaNeue", sans-serif;
    font-weight: bold;
    position: relative;
    top: 200px;
}

/* Positionnement à gauche */
#tacos, #chsbrgr, #del1, #del2 {
    display: block;
    margin-left: auto;
    position: absolute;
}

/* Positionnement de l'image de la croix */
#del1 {
    top: 575px;
    right: 0px;
    width: 110px;
}

/* Positionnement de l'image de la croix */
#del2 {
    top: 875px;
    right: 0px;
    width: 110px;
}

/* Positionnement de l'image du tacos */
#tacos {
    top: 625px;
    right: 35px;
    width: 225px;
}

/* Positionnement de l'image du cheeseburger */
#chsbrgr {
    top: 950px;
    right: 70px;
    width: 175px;
}

/* "TACOS", "CHEESEBURGER" */
#t1, #t2 {
    font-size: 60px;
    font-family: arial, sans-serif;
    font-weight: bold;
    position: absolute;
}

/* Titre1 = "tacos" */
#t1 {
    top: 590px;
    left: 50px;
}

/* Commande2 */
#t2 {
    top: 890px;
    left: 50px;
}

/* Prix totale */
#tpr {
    font-size: 65px;
    color: #1975BA;
    margin-right: auto;
    position: absolute;
    top: -15px;
    right: -320px;
}

/* Les ingrédients du tacos */
#ing1, #ing2 {
    font-size: 35px;
    position: absolute;
    font-family: Arial, sans-serif;
    font-weight: bold;
    left: 65px;
}

/* Les ingrédients de la première ligne */
#ing1 {
    top: 675px;
}

/* Les ingrédients de la deuxième ligne */
#ing2 {
    top: 715px;
}

/* PRIX */
/* Gestion de "Total suppléments" */
#sp1, #sp2 {
    height: 72px;
    width: 600px;
    background-color: #E9E9E9;
    font-size: 44px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    position: absolute;
}

/* Positionnement du prix des suppléments pour le tacos*/
#sp1 {
    left: 25px;
    top: 800px;
}

/* Positionnement du prix des suppléments pour le cheeseburger*/
#sp2 {
    left: 25px;
    top: 1125px;
}

/* Prix d'une seule commande */
#pr1, #pr2 {
    width: 15%;
    border: 3px #1975BA solid;
    border-radius: 25px;
    color: #1975BA;
    font-size: 45px;
    font-family: Arial;
    font-weight: bold;
    position: absolute;
}

/* Total suppléments */
#pr1 {
    right: 90px;
    top: 775px;
}

#pr2 {
    right: 90px;
    top: 1100px;
}

/* Prix totale */
#total_cmd {
    font-size: 44px;
    position: absolute;
    top: 1800px;
    left: 55px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

/* GESTION DES LIGNES */
/* Ligne en dessous de "MA COMMANDE" */
#l1 {
    height: 25px;
    width: 100%;
    position: relative;
    top: 175px;
}

/* Ligne en dessous de "Total suppléments" */
#l2, #l3 {
    height: 25px;
    width: 100%;
    position: absolute;
}

/* ligne 2 */
#l2 {
    top: 865px;
}

#l3 {
    top: 1190px;
}

#l4 {
    height: 25px;
    width: 100%;
    position: relative;
    top: 1065px;
}

/* Ligne au dessus de "Mode de paiement" */
#l5 {
    height: 10px;
    width: 100%;
    box-shadow: 1px -6px 10px 2px rgba(0, 0,0, 0.2);
    position: absolute;
    bottom: 200px;
}

/* GESTION DU PAIEMENT */
/* Gestion des bar */
.static-bar {
    width: 100%;
    height: 200px;
    line-height: 200px;
    position: fixed;
    bottom: 0;
    background: var(--white);
}

.add-bar {
    height: 165px;
    width: 100%;
    border: 3px #8FD7F5 solid;
    background-color: #8FD7F5;
    position: relative;
    top: 787px;
}

#add {
    font-size: 58px;
    font-style: Arial, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-60%);
}

#plus {
    position: relative;
    left: -55px;
    top: 15px;
    font-size: 100px;
}

#total {
    font-size: 57px;
    font-weight: bold;
    font-style: Arial, sans-serif;
    position: relative;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
}

#sum {
    font-size: 95px;
    color: #1975BA;
    position: relative;
    left: 30px;
    top: 10px;
}

#valid {
    position: absolute;
    right: 140px;
    top: 20px;
    width: 150px;
}

#sugg {
    font-size: 45px;
    font-style: Arial, sans-serif;
    font-weight: bold;
    position: relative;
    top: 810px;
    text-align: center;
}

.lr-arrow {
    position: relative;
    top: 800px;
}

#arr1 {
    position: relative;
    left: 30px;
    width: 70px;
}

#arr2 {
    position: relative;
    right: -810px;
    width: 70px;
}

#ing3 {
    font-size: 32px;
    font-weight: bold;
    font-style: Arial, sans-serif;
    position: relative;
    top: 345px;
    text-align: center;
}

.add-bar1 {
    border: 3px #8FD7F5 solid;
    background-color: #8FD7F5;
    border-radius: 40px;
    width: 200px;
    height: 60px;
    position: relative;
    top: 335px;
    left: 0px;
    right: 0px;
    margin: auto;
}

#add1 {
    font-size: 35px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-style: Arial, sans-serif;
}

.border1 {
    border: 3px #8FD7F5 solid;
    border-radius: 30px;
    width: 150px;
    height: 100px;
    position: relative;
    top: 717px;
    left: 95px;
}

.border2 {
    border: 3px #8FD7F5 solid;
    border-radius: 30px;
    width: 150px;
    height: 100px;
    position: relative;
    top: 617px;
    left: 255px;
}

.border3 {
    border: 3px #8FD7F5 solid;
    border-radius: 30px;
    width: 150px;
    height: 100px;
    position: relative;
    top: 517px;
    left: 415px;
}

.border4 {
    border: 3px #8FD7F5 solid;
    border-radius: 30px;
    width: 150px;
    height: 100px;
    position: relative;
    top: 417px;
    left: 575px;
}

.border5 {
    border: 3px #8FD7F5 solid;
    border-radius: 30px;
    width: 150px;
    height: 100px;
    position: relative;
    top: 317px;
    left: 735px;
}
