/* INITIALISATION */
body {
    margin: 0;
    padding: 0;
    font-size: 0;
    background: #FAFAFA;
}

/* GESTION DU HEADER */
/* Flèche retour */
#arrow {
    position: relative;
    top: -15px;
    left: 25px;
    width: 100px;
}

/* Menu, ombre */
.trigger-menu-wrapper {
    height: 125px;
    line-height: 150px;
    box-shadow: 1px 1px 10px 5px rgba(0, 0,0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
    z-index: 2;
    background: var(--white);
    transition: all 0.1s;
}

/* GESTION DU SCROLL */
.scroll-down .trigger-menu-wrapper {
  transform: translate3d(0, -100%, 0);
}

.scroll-up .trigger-menu-wrapper {
  transform: none;
}

.scroll-up:not(.menu-open) .trigger-menu-wrapper {
  background: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

/* GESTION DES IMAGES */
/* Positionnement des images au centre */
#lS, #lR, #lC, #money, #bc {
    display: block;
    margin: auto;
}

/* logo SPEAT */
#lS {
    position: relative;
    top: -120px;
    width: 275px;
}

/* logo snack */
#lR {
    position: relative;
    top: 150px;
    width: 350px;
}

/* logo commande */
#lC {
    position: relative;
    top: 180px;
    width: 75px;
}

/* GESTION DES COMMANDES */
/* Gestion de "MA COMMANDE" */
#com {
    color: #1975BA;
    font-size: 69px;
    font-family: "HelveticaNeue", sans-serif;
    font-weight: bold;
    position: relative;
    top: 200px;
}

/* Positionnement à gauche */
#tacos, #chsbrgr, #del1, #del2 {
    display: block;
    margin-left: auto;
    position: absolute;
}

/* Positionnement de l'image de la croix */
#del1 {
    top: 575px;
    right: 0px;
    width: 110px;
}

/* Positionnement de l'image de la croix */
#del2 {
    top: 875px;
    right: 0px;
    width: 110px;
}

/* Positionnement de l'image du tacos */
#tacos {
    top: 625px;
    right: 35px;
    width: 225px;
}

/* Positionnement de l'image du cheeseburger */
#chsbrgr {
    top: 950px;
    right: 70px;
    width: 175px;
}

/* "TACOS", "CHEESEBURGER" */
#t1, #t2 {
    font-size: 60px;
    font-family: arial, sans-serif;
    font-weight: bold;
    position: absolute;
}

/* Titre1 = "tacos" */
#t1 {
    top: 590px;
    left: 50px;
}

/* Commande2 */
#t2 {
    top: 890px;
    left: 50px;
}

/* Prix totale */
#tpr {
    font-size: 65px;
    color: #1975BA;
    margin-right: auto;
    position: absolute;
    top: -15px;
    right: -325px;
}

/* Les ingrédients du tacos */
#ing1, #ing2 {
    font-size: 35px;
    position: absolute;
    font-family: Arial, sans-serif;
    font-weight: bold;
    left: 65px;
}

/* Les ingrédients de la première ligne */
#ing1 {
    top: 675px;
}

/* Les ingrédients de la deuxième ligne */
#ing2 {
    top: 715px;
}

/* PRIX */
/* Gestion de "Total suppléments" */
#sp1, #sp2 {
    height: 72px;
    width: 600px;
    background-color: #E9E9E9;
    font-size: 44px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    position: absolute;
}

/* Positionnement du prix des suppléments pour le tacos*/
#sp1 {
    left: 25px;
    top: 800px;
}

/* Positionnement du prix des suppléments pour le cheeseburger*/
#sp2 {
    left: 25px;
    top: 1125px;
}

/* Prix d'une seule commande */
#pr1, #pr2 {
    width: 15%;
    border: 3px #1975BA solid;
    border-radius: 25px;
    color: #1975BA;
    font-size: 45px;
    font-family: Arial;
    font-weight: bold;
    position: absolute;
}

/* Total suppléments */
#pr1 {
    right: 90px;
    top: 775px;
}

#pr2 {
    right: 90px;
    top: 1100px;
}

/* Prix totale */
#total {
    font-size: 44px;
    position: absolute;
    top: 1260px;
    left: 55px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

/* GESTION DES LIGNES */
/* Ligne en dessous de "MA COMMANDE" */
#l1 {
    height: 25px;
    width: 100%;
    position: relative;
    top: 175px;
}

/* Ligne en dessous de "Total suppléments" */
#l2, #l3 {
    height: 25px;
    width: 99%;
    position: absolute;
}

/* ligne 2 */
#l2 {
    top: 865px;
}

#l3 {
    top: 1190px;
}

/* Ligne au dessus de "Mode de paiement" */
#l4 {
    height: 8px;
    width: 100%;
    box-shadow: 1px -6px 10px 2px rgba(0, 0,0, 0.2);
    position: relative;
    top: 1480px
}

/* GESTION DU PAIEMENT */
/* "Mode de paiement" */
#paymt_m {
    font-size: 46px;
    position: relative;
    top: 1485px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

/* Gestion des bar */
.money-bar, .bc-bar {
    border: 3px #1975BA solid;
    background-color: #1975BA;
    border-radius: 40px;
    width: 275px;
    height: 100px;
    position: relative;
    top: 1475px;
}

.money-bar {
    left: 19%;
    float: left;
}

.bc-bar {
    right: 19%;
    float: right;
}

/* money logo */
#money {
    width: 110px;
    position: relative;
    top: -5px;
}

/* carte bancaire logo */
#bc {
    width: 75px;
    position: relative;
    top: 5px;
}
